@font-face{
	font-family: 'Source Sans Pro';
	src: url(../fonts/SourceSansPro-Regular.ttf);
}
body{
	background-color: #dbdee0;
	color: #282828;
	font-family: 'Source Sans Pro', sans-serif;
}
.notification, .notificationTop{
	padding: 10px;
	text-align: center;
	color: #FFF;
	margin-bottom: 20px;
	width: 550px;
	border-radius: 5px;
	position: absolute;
	display: none;
}